$color-red: #93041D;
$color-red-dark: #97051E;
$color-pink: #AA3246;
$color-blue: #1F3AB0;
$color-blue-light: rgba(22, 64, 255, .05);
$color-blue-lightest: #3D6BB9;
$pageFont: 'sans-serif';

body {
  font-family: $pageFont;
}

p {
  font-size: 10pt;
  line-height: 1.5em;
  margin: 0;
}

.l_header {
  border: none;
  height: 150px;
  padding-top: 10px;
  position: relative;

  form {
    bottom: 10px;
    padding: 0;
    position: absolute;
    right: 10px;
  }

  label {
    display: block;
    font-weight: normal;
    line-height: 1em;
  }

  input {
    width: 265px;
  }
}

.l_footer {
  border: none;

  p {
    text-align: left;
  }
}

.logo {
  float: left;
  height: 140px;
  margin-left: 100px;
}

.h_byline {
  background-color: $color-blue;
  font-size: 1.25em;
  font-weight: lighter;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.h_headline {
  float: left;
  font-size: 1.5em;
  margin: 50px 0 0 25px;
}

.link-back {
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: $color-red;
  border-radius: 10px;
  display: block;
  float: right;
  margin-right: 60px;
  margin-top: 45px;
  padding: 10px 60px;
  text-decoration: none;
}

.join_team {
  padding: 0;

  strong {
    font-size: 12pt;
  }
}

.bg_box {
  height: 300px;
  position: relative;
  width: 300px;

  .bg_label {
    background-color: $color-pink;
    bottom: 0;
    color: white;
    padding: 10px 35px;
    position: absolute;
    right: 0;
  }
}

.buddy {
  background: transparent url("../image/Buddy_the_Dog.jpg") 0 0 no-repeat;
}

.donate {
  padding: 0.5em 0;

  a {
    display: block;
    margin: 0 auto;
    text-decoration: underline;
    width: 210px;
  }
}

.small {
  font-size: 8pt;
}

.grass_dog {
  background: transparent url("../image/Dog_on_grass.png") 0 0 no-repeat;

  p {
    color: white;
    margin: 0;
    padding: 30px 40px;
  }

  form {
    bottom: 0;
    position: absolute;
  }
}

form {
  padding: 10px 20px 20px;

  input {
    padding-left: 10px;
    width: 210px;
  }
}

:-ms-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

:-o-placeholder {
  font-style: italic;
}

::-webkit-input-placeholder {
  font-style: italic;
}

ul.social {
  height: 2em;
  margin: 0;
  position: absolute;
  right: 0;
  top: 10px;

  iframe {
    margin: 7px 5px;
  }

  .icon {
    background: transparent url("../image/SocialButtons.jpg") 0 0 no-repeat;
    display: block;
    height: 35px;
    text-indent: -9999px;
    width: 35px;
  }

  .facebook .icon {
    background-position: -225px -2px;
  }

  .twitter .icon {
    background-position: -225px -39px;
  }

  li {
    display: block;
    float: left;
    list-style: none;
  }
}

.phone_logo {
  background: transparent url("../image/phone_logo.jpeg") 85px 50px no-repeat;
}

.labradoodle {
  background: transparent url("../image/Labradoodle.png") 130px 110px no-repeat;
  height: 302px;
}

.two_phones {
  background: black url("../image/phones.png") 420px 20px no-repeat;
  color: white;
  height: auto;
  margin: 40px auto 0;
  padding: 60px 60px;
  width: 480px;

  h3 {
    margin: 0;
  }

  p {
    font-size: 13pt;
  }
}

.left_margin_20 {
  margin-left: 20px;
}

.right_margin_20 {
  margin-left: -20px;
}

.movie {
  background-color: $color-blue-light;
  height: 600px;

  h3 {
    margin: 0;
    padding-left: 10px;
  }

  p {
    font-size: 11pt;
    margin: 25px 15px;
  }

  iframe {
    margin: 0 10px 25px;
  }

  .news_callout {
    background-color: #B20824;
    padding: 0 0 8px;
    width: 100%;

    h3 {
      background-color: #96061E;
      color: white;
      padding: 5px 0;
      text-align: center;
    }
  }
}

.who_we_are {
  -webkit-border-bottom-right-radius: 40px;
  -moz-border-radius-bottomright: 40px;
  background-color: #FEFE59;
  border-bottom-right-radius: 40px;
  margin-top: -2px;
  padding-bottom: 8px;
  text-align: right;
  width: 185px;

  h3 {
    font-size: 11pt;
    margin: 0;
  }

  p {
    font-size: 11pt;
    margin-top: 0;
  }

  .inner {
    -webkit-border-bottom-right-radius: 40px;
    -moz-border-radius-bottomright: 40px;
    background-color: #FEE358;
    border-bottom-right-radius: 40px;
    padding: 5px;
    width: 160px;
  }
}

.benefit {
  margin: 15px 20px 0 60px;

  strong {
    font-size: 11pt;
  }
}

.benefit_final {
  margin-left: auto;
  margin-right: auto;
  width: 380px;
}

h5.grid_12 {
  font-size: 14pt;
  font-weight: normal;
  margin-bottom: 0.5em;
  text-align: center;
}

.on {
  .off {
    display: none;
  }
}

.off {
  .on {
    display: none;
  }
}

.clear {
  clear: both;
}

.strong {
  font-weight: bold;
}

.float-left {
  float: left;
}

.text-blue {
  color: $color-blue-lightest;
}

.text-red {
  color: $color-red;
}

.text-white {
  color: white;
}