{% extends 'base.html' %}
{% load url from future %}

{% block header %}
    <img alt="vet24seven logo" class="logo" src="{{ STATIC_URL }}image/V24S_logo.jpeg"/>
    <h1 class="h_headline text-red">Bringing Vets to your Pets</h1>
    <ul class="social">
        <li class="facebook float-left"><a class="icon" href="https://www.facebook.com/Vet24Seven">facebook page</a></li>
        <li><iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FVet24Seven&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=528385337190757" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
        <li class="twitter float-left"><a class="icon" href="https://twitter.com/Vet24Seven">twitter page</a></li>
        <li>
            <a href="https://twitter.com/vet24seven" class="twitter-follow-button" data-show-count="false">Follow @vet24seven</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </li>
    </ul>
    <a class="link-back text-white" href="#">about the app</a>
    <form action="{% url 'email' %}" method="POST">
        {% csrf_token %}
        {% for field in buddy_form %}
            {% if field.name != 'email' %}
                {{ field.as_hidden }}
            {% endif %}
        {% endfor %}
        <label class="small" for="is-buddy-email"><strong>Follow</strong> Buddy&#8217;s story!</label>
        <input id="is-buddy-email" placeholder="email" type="text" name="email"/>
        <button class="on">
            <var class="on">&#187;</var>
            <var class="off">&#10003;</var>
        </button>
    </form>
{% endblock %}

{% block main_content %}
    <h2 class="h_byline text-white">Buddy rescued by Vet24seven</h2>
    <div class="grid_4">
        <div class="bg_box labradoodle left_margin_20">
            <div class="who_we_are">
                <div class="inner">
                    <h3 class="text-blue">Who are we?</h3>
                    <p>We love our pets and we love technology.</p>
                    <h3>Vet24seven</h3>
                    <p>revolutionizes pet healthcare by bringing vets to your pets via your mobile device.</p>
                </div>
            </div>
        </div>
        <div class="bg_box grass_dog left_margin_20">
            <p>Enter your email address for more information about how you can help
                build this app and improve pet health.</p>
            <form action="{% url 'email' %}" method="POST">
                {% csrf_token %}
                {% for field in vet24seven_form %}
                    {% if field.name != 'email' %}
                        {{ field.as_hidden }}
                    {% endif %}
                {% endfor %}
                <input placeholder="email" type="text" name="email"/>
                <button class="on">
                    <var class="on">&#187;</var>
                    <var class="off">&#10003;</var>
                </button>
            </form>
        </div>
    </div>
    <div class="grid_4">
        <div class="bg_box buddy">
            <div class="arrow">&#160;</div>
            <div class="bg_label">Buddy</div>
        </div>
        <div class="bg_box phone_logo">
            <div class="donate"><a class="strong" href="http://annettepuskarich.chipin.com/buddy">Help Support Buddy (donate)!</a></div>
        </div>
    </div>
    <div class="grid_4">
        <div class="bg_box movie right_margin_20">
            <div class="news_callout"><h3>KGET - Bakersfield News Story</h3></div>
            <p>RESCUED!! Dog abandoned and living in a field for 5 months (watch below)</p>
            <iframe width="280" height="173" src="http://www.youtube.com/embed/17FFvaYdA2c?HD=1;rel=0;showinfo=0;controls=0" frameborder="0" allowfullscreen></iframe>
            <iframe width="280" height="173" src="http://www.youtube.com/embed/6lVgjUNxVik?HD=1;rel=0;showinfo=0;controls=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <h5 class="grid_12 scroll_target">
        What the Vet24seven app does for you and your pet:
    </h5>
    <p class="grid_5 benefit"><strong>Provides you with personalized pet healthcare</strong> from licensed,
    screened veterinary professionals, using your mobile device.</p>
    <p class="grid_5 benefit"><strong>Reduces pet and owner anxiety, especially cats and aging or chronically ill pets</strong>, by
    avoiding stressful trips to the vet clinic.</p>
    <p class="grid_5 benefit"><strong>Brings a vet to your mobile device</strong> when you need one, at your
    convenience, for medical and behavioral issues, or general
    questions/advice in between your standard vet visits.</p>
    <p class="grid_5 benefit"><strong>Helps keep your pet healthier and safer</strong> and provides you, as a pet owner, with
    peace of mind in the care your pet receives.</p>
    <div class="grid_12">
        <p class="benefit benefit_final"><strong>Allows the vet to see and experience what you do</strong> via
        photos, video, chat and the written description you provide via the
        app. The vet responds with a course of home-treatment for your pet.</p>
    </div>
{% endblock %}

{% block footer %}
    <div class="bg_box two_phones">
        <h3>Vet24seven</h3>
        <p>Live consult with a vet.<br/>
        Anytime. Anywhere.</p>
    </div>
{% endblock %}