{% extends 'django_shared/base.html' %}
{% block title %}Vet 24 seven{% endblock %}
{% block description %}Bringing vets to your pets. We love our pets and we love  technology. Vet24Seven revolutionizes pet healthcare by bringing vets to your pets via the Vet24Seven app and your mobile device.{% endblock %}

{% block extra_head %}
    <meta property="og:title" content="Vet24Seven" />
    <meta property="og:description" content="Bringing vets to your pets. We love our pets and we love  technology. Vet24Seven revolutionizes pet healthcare by bringing vets to your pets via the Vet24Seven app and your mobile device." />
    <meta property="og:image" content="{{ STATIC_URL }}image/facebook_icon.png" />
    <meta property="og:url" content="http://www.vet24seven.com" />
    <meta property="fb:admins" content="223387,647243818" />
    <meta property="og:type" content="website" />
    <meta property="og:app_id" content="382746275148915" />
    <link rel="image_src" href="{{ STATIC_URL }}image/facebook_icon.png" />
{% endblock %}

{% block keywords %}{{ keywords|default:'vet,veterinarian,24,twenty,four,twentyfour,twenty-four,seven,7,mobile,pets,dogs,cat' }}{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/libs/grid_960/960_12_col.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
{% endblock %}
{% block extra_scripts %}
    <script src="{{ STATIC_URL }}js/home.js"></script>
{% endblock %}